.content1 .contentleft{

    padding: 20px;

    font-size: 10px;

    color: #6C6C6C !important;

}

.footer-container .container{

    background: #D0D0D0;

}

.lien-foot{

    display: none;

}

.MsoNormal{

    padding-left: 15px;

    font-size: 10px !important;

}

.contentleft td h4{

    padding-left: 15px;

    font-size: 11px;

    padding-top: 8px;

}

.contentleft td h5{

    padding-left: 15px;

    font-size: 11px;

    padding-top: 8px;

}

.texte1foot{

    color: #69B21E;

    font-weight: bold;

    font-size: 13px;

}

#index .products-section-title{

    background: #92C735;

    margin-bottom: 0!important;

    color: white;

    padding: 10px;

    text-align: left!important;

    text-transform: capitalize!important;

}

.featured-products{

    background-color: white;

}

.product_cont .highlighted-informations{

    display:none;

}

.btn_cont{

    text-align: center;

    width: 80px;

    border: 1px solid #b7b7b7;

    background-color: #f1f1f1;

    -moz-border-radius: 5px 5px 5px 5px;

    -webkit-border-radius: 5px 5px 5px 5px;

    border-radius: 5px;

    padding: 5px 0;

    margin-left: 16px;

    font-size: 10px;

    color: #B7B7B7;

    margin-top: 10px;

}

.featured-products .all-product-link{

    float: left!important;

    margin-left: 10px;

}

.block-categories{

    background: #69B21E;

}

.block-categories .category-sub-menu li a{

    color: white!important;

    text-decoration: none;

    font-size: 12px;

    margin-left: 20px;

}

.block-categories .category-sub-menu li{

    background: url(../../images/puce.png);

    background-repeat: no-repeat;

    padding-left: 20px;

    background-position-y: 5px;

}

.category-top-menu li a{

    font-size: 18px;

    color: white!important;

}

.title_block a{

    color: white;

}

.block_content label{

    color: white;

}

.block_content div a{

    color: white!important;

}

#_desktop_user_info{
    display: none;
}

.block_newsletter{
    width:100%;
}

