/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */
	@font-face {
		font-family: Dosis-light;
		src: url(../fonts/Dosis/Dosis-Light.ttf);
	}
@font-face {
		font-family: Dosis-bold;
		src: url(../fonts/Dosis/Dosis-Bold.ttf);
	}
 body {
	/* background: rgb(243,243,243); */ /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(243,243,243,1) 0%, rgba(243,243,243,1) 22%, rgba(224,224,224,1) 47%, rgba(243,243,243,1) 99%); /* FF3.6+ */
	/* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,243,243,1)), color-stop(22%,rgba(243,243,243,1)), color-stop(47%,rgba(224,224,224,1)), color-stop(99%,rgba(243,243,243,1))); */ /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(243,243,243,1) 0%,rgba(243,243,243,1) 22%,rgba(224,224,224,1) 47%,rgba(243,243,243,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(243,243,243,1) 0%,rgba(243,243,243,1) 22%,rgba(224,224,224,1) 47%,rgba(243,243,243,1) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(243,243,243,1) 0%,rgba(243,243,243,1) 22%,rgba(224,224,224,1) 47%,rgba(243,243,243,1) 99%); /* IE10+ */
	background: linear-gradient(top,  rgba(243,243,243,1) 0%,rgba(243,243,243,1) 22%,rgba(224,224,224,1) 47%,rgba(243,243,243,1) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-9 */
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	color:#b7b7b7;
}
.droitelogo{
	float: right;
	margin: 0;
	padding: 0;
}
.fraisdeportinclus{
	float: left;
	margin: 0;
	padding: 0;
	padding-top: 20px;
}
.col-md-8 .row .col-md-6{
	margin-left: -30px;
}
.top-menu .category{
	width: auto !important;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	padding-left: 15px!important;
}
.top-menu .link{
	width: auto !important;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
}
.popover .top-menu{
	display: none!important;
}
.dropdown-item:hover{
	background: transparent !important;
}
.dropdown-item{
	color: white!important;
	padding-top: 6px!important;
	margin-top: -8px;
}
.top-menu .sub-menu {
	box-shadow: none !important;
	background: transparent !important;
}
#_desktop_top_menu {
	background: #e07eb9;
	background: -moz-linear-gradient(top, #e07eb9 0%, #781652 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e07eb9), color-stop(100%,#781652));
	background: -webkit-linear-gradient(top, #e07eb9 0%,#781652 100%);
	background: -o-linear-gradient(top, #e07eb9 0%,#781652 100%);
	background: -ms-linear-gradient(top, #e07eb9 0%,#781652 100%);
	background: linear-gradient(top, #e07eb9 0%,#781652 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e07eb9', endColorstr='#781652',GradientType=0 );
	height: 34px;
	-webkit-box-shadow: 1px 1px 2px 0px #999;
	box-shadow: 1px 1px 2px 0px #999;
	margin-left: 14px;
	width: 97.5%;
}
.top-menu .separmenu {
	color: #e8d9bf;
	font-size: 25px !important;
	margin-top: -3px !important;
	text-shadow: none;
}
.top-menu li {
	float: left;
	text-transform: uppercase;
	text-decoration: none;
	font: white;
	padding: 7px 9px 0 4px;
	margin: 0px;
	font-size: 20px;
	letter-spacing: 1px;
	font-family: 'Dosis-bold', sans-serif, arial;
	font-weight: bold;
	text-shadow: 1px 1px 3px #82817E;
}
#search_widget{
	padding: 10px;
	float: right;
}
.search-widget form button[type=submit] .search:hover {
	color: #7a7a7a!important;
}
.search-widget form button[type=submit] {
	position: absolute!important;
	right: 250px!important;
	top: 0!important;
	color: #7a7a7a!important;
}
.search-widget form input[type=text] {
	border: none;
	padding: 0!important;
	border-radius: 5px;
	min-width: 255px;
	color: #7a7a7a;
	background: #ebebeb!important;
	border: 1px solid rgba(0, 0, 0, .25);
}
.search-widget form input[type=text]:focus {
	outline: none!important;
	border-radius: 5px;
	color: #7a7a7a;
	background: #ebebeb!important;
	border: 1px solid rgba(0, 0, 0, .25);
}
.aucun{
	color: white;
	font-size: 12px;
	border-bottom: 1px solid white;
}
.bac{
    margin-left: 20px;
    background: #64af1b;
    width: 85%;
    color: white!important;
}
#_desktop_cart{
	padding-top: 10px;
	padding-bottom: 10px;
}
.border-btm{
	border-bottom: 1px solid #ffffff;
}
.buttons {
	clear: both;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px !important;
    padding-left: 45px!important;
}
.rtr {
	width: 80px;
	border: 1px solid #b7b7b7;
	background-color: #f1f1f1;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px;
	padding: 5px 0;
	margin-left: 16px;
	font-size: 10px;
	color: #B7B7B7;
	text-align: center;
}
.border-btm a span{
	color: #ffffff;
}
.block-compte{
    margin-top: 10px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px;
    background-color: #d9d6d1;
    border: 1px solid #B7B7B7;
    padding-bottom: 5px;
    margin-right: 12px;
    margin-left: 10px;
}